@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}



/* Parallax styling */

.parallax_wrapper{
    /* width: 100%; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 30px;

    
}

.parallax_group{
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    overflow: visible;
    width: 100%;
    height: 40vh;
}

.parallax_group .name{
    color: white;
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1.5px;


    position: absolute;
    inset: 0;
    transform: translateZ(-25px) scale(1.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.name h1{
    user-select: none;
    font-weight: 400;
}


@media screen and (max-width: 650px){

    .parallax_group .name {
        transform: none;
        position: absolute;
        top: 400px;
        z-index: 10000;
    }

}


.name .my-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#group-1{
    z-index: -1;
    background-image:linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)),  url(images/galaxy-background.png);
    background-size: cover; 
}

#group-2{
    position: absolute;
    width: fit-content;
    z-index: 100;
    top: -230px;
    right: 50%;
}

#particles-js{
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 10;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > * {
    margin: 10px;
    font-size: 1.5em;
    color: white;
    opacity: .5;
    transition: .3s ease;
}

.buttons a:hover{
    opacity: 1;
}



/* About me styling */

.div{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .div{
        width: 100%;
    }
    .about-me-div a{
        display: block;
    }
    .description{
        width: 120%;
    }
}


.about-me-div{
    z-index: 1000;
}

.about-me-div .description p{
    margin: 30px;
    font-size: 1.2em;
    display: block;
}

.about-me-div .title{
    margin-top: 40px;
}
.links{
    margin-top: 20px;
    text-align: center;
}

.about-me-div .links a{
    text-decoration: none;
    color: rgba(51, 0, 128, 0.65);
    text-align: center;
    transition: color .3s ease-in;
    margin: 10px;
}


.about-me-div .links a:hover{
    color: rgb(51, 0, 128);
}


/* Projects styling */

.wrapper{
    padding: 25px 50px;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
}


.title h1{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: rgb(51, 0, 128);
}



/* buttons styling */

.buttons-div{
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons-div button{
    flex: 1 1 120px;

    /* min-width: 80px; */

    font-family: 'Space Mono', monospace;
    padding: 10px;
    font-size: 1.1em;
 
    color: rgb(51, 0, 128);
    border: none;
    border-radius: 10px;
    margin: 10px 10px;
    transition: .4s ease-in-out;
    background-color: rgb(245, 245, 245);
}

.projects-wrapper{
    margin-bottom: 130px;
}

.buttons-div button:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.grid-wrapper{
    width: 100%;
    min-height: 50vh;
    transform: translateX(5px);
}

.grid-item{
    /* position: relative; */
    width: 31.9%;
    min-width: 200px;
    height: 250px;
    opacity: 1;
    padding: 20px;
    margin: 5px;
    transition: transform-scale .2s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(64, 0, 128, 0.204);
    box-shadow: 0 0 7px rgba(51, 0, 128, 0.65);

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 1;
    z-index: 1;

    transform-origin: center;
}

.grid-item::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url("images/galaxy-background.png");
    opacity: .2;
    z-index: -1;
}

.grid-item:hover{
    transform: scale(1.1,1.1);
    /* cursor: pointer; */
}


.grid-item h1{
    color: rgb(51, 0, 128);
    font-size: 1.6rem;
}

.grid-item h2{
    font-size: 1em;
    font-weight: 100;
}

.grid-item a, .grid-item i{
    font-size: 1.5em;
    color: white;
    transition: opacity, color .5s ease;
    opacity: .85;
}

.bottom-grid h2{
    font-weight: 800;
}

.grid-item i:hover{
    opacity: 1;
    color: rgb(51, 0, 128);
}

.grid-item p{
    font-size: .9rem;
}

.grid-item .bottom-grid{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.grid-item .data-styling{
    color:rgb(51, 0, 128);
    transition: 3s ease;
}

@media screen and (max-width: 1533px){
    .grid-item{
        width: 47%;
    }
    .grid-item > *{
        transform: scale(.9);
    }
    .grid-wrapper{
        transform: translateX(10px);
    }
    
}

@media screen and (max-width: 851px) {
    .grid-item{
        width: 95%;
        height: 200px;
    }
    .grid-wrapper{
        transform: translateX(7px);
    }
    .grid-item h1{
        font-size: 1.5rem;
        margin: 0 0 -10px 0;
    }
}

@media screen and (max-width: 650px){

    .buttons-div button{
        margin: 5px;
    }
    .grid-wrapper{
        width: 125%;
        transform: translateX(5px);
    }

    .grid-item{
        width: 95%;
        padding: 20px;
        /* margin: -5px; */
    }

    .grid-item > *{
        transform: scale(.85);
    }
}

